#biopic{
    border-radius: 100%;
    width: 120px;
}
#intro{
    text-align: center;
    color: #80c1e4;
    margin: auto;
}

img{
    border-radius: 100%;
    width: 20px;
}
img#gmail{
    width: 20px !important;
}

body{
    background-color: #201e1e;
    color: bisque;
}